@import "./borders.css";
@import "./color-pallet.css";
@import "./spacing.css";
@import "./controls/input.css";
@import "./controls/button.css";
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500&display=swap');

img
{
  max-width: 100%;
}

body
{
  margin: 0;
  background-color: var(--background);
  color: var(--text-normal);
  font-family: 'Inter';
}

h1, h2, h3, h4, h5, h6, p, ol, ul
{
  margin: 0;
  padding: 0;
}

ol, ul
{
  list-style-type: none;
}

h1
{
  font-size: 2rem;
}

*::-webkit-scrollbar {
  width: 0.5rem;
  height: 0.5rem;
  background: rgb(40, 42, 48);
  border-radius: 0.5rem;
}
*::-webkit-scrollbar-thumb {
  background: rgba(50, 52, 62, 0.9);
  background-clip: content-box;
  border-radius: 0.5rem;
  border: 0.15rem solid transparent;
}

*::-webkit-scrollbar-corner {
  background: transparent;
}